<h2>Lodash Pipes</h2>

<h3>The Umbrella-Form Pipe</h3>

<ul>
  <li>
    <h4>
      Call with Existing Function
    </h4>

    <div>
      <em>{{array4Chunk | json}} | _: 'chunk': 2 | json</em>
      =>
      {{array4Chunk | _: 'chunk': 2 | json}}
    </div>

    <div>
      <em>{{array4Fill | json}} | _: 'fill': 'a' | json</em>
      =>
      {{array4Fill | _: 'fill': 'a' | json}}
    </div>

    <div>
      <em>{{array4Head | json}} | _: 'head' | json</em>
      =>
      {{array4Head | _: 'head' | json}}
    </div>

    <div>
      <em>{{array4IndexOf | json}} | _: 'indexOf': 2 | json</em>
      =>
      {{array4IndexOf | _: 'indexOf': 2 | json}}
    </div>

    <div>
      <em>{{array4IndexOf | json}} | _: 'indexOf': 2: 2 | json</em>
      =>
      {{array4IndexOf | _: 'indexOf': 2: 2 | json}}
    </div>

    <div>
      <em>{{array4PullAt[0] | json}} | _: 'pullAt': {{array4PullAt[1] | json}} | json</em>
      =>
      {{array4PullAt[0] | _: 'pullAt': array4PullAt[1] | json}}
    </div>
  </li>

  <li>
    <h4>
      Call with Non-existing Function
    </h4>

    <div>
      <em>{{array4Chunk | json}} | _: 'jellyfish': 2 | json</em>
      =>
      {{array4Chunk | _: 'jellyfish': 2 | json}}
    </div>
  </li>

</ul>
<hr>

<h3>Direct-Form Pipes</h3>

<app-array-pipe-samples></app-array-pipe-samples>

<app-collection-pipe-samples></app-collection-pipe-samples>

<hr>

<h2>Let Directive</h2>

<li>
  <em>Let tmp = chunk {{array4Chunk | json}} by 2</em>
  =>
  <ng-container *let="array4Chunk | chunk: 2 as tmp">
    {{tmp | json}}
  </ng-container>

  <br>
  <button (click)="array4Chunk = [
      random(1, 50).toString(),
      'a',
      random(51,100).toString(),
      'b'
    ]">Update array4Chunk</button>
</li>
