<h2>Lodash Pipes</h2>

<h3>The Umbrella-Form Pipe</h3>

<ul>
  <li>
    <h4>
      Call with Existing Function
    </h4>

    <div>
      <em>{{array4Chunk | json}} | _: 'chunk': 2 | json</em>
      =>
      {{array4Chunk | _: 'chunk': 2 | json}}
    </div>

    <div>
      <em>{{array4Fill | json}} | _: 'fill': 'a' | json</em>
      =>
      {{array4Fill | _: 'fill': 'a' | json}}
    </div>

    <div>
      <em>{{array4Head | json}} | _: 'head' | json</em>
      =>
      {{array4Head | _: 'head' | json}}
    </div>

    <div>
      <em>{{array4IndexOf | json}} | _: 'indexOf': 2 | json</em>
      =>
      {{array4IndexOf | _: 'indexOf': 2 | json}}
    </div>

    <div>
      <em>{{array4IndexOf | json}} | _: 'indexOf': 2: 2 | json</em>
      =>
      {{array4IndexOf | _: 'indexOf': 2: 2 | json}}
    </div>

    <div>
      <em>{{array4PullAt[0] | json}} | _: 'pullAt': {{array4PullAt[1] | json}} | json</em>
      =>
      {{array4PullAt[0] | _: 'pullAt': array4PullAt[1] | json}}
    </div>
  </li>

  <li>
    <h4>
      Call with Non-existing Function
    </h4>

    <div>
      <em>{{array4Chunk | json}} | _: 'jellyfish': 2 | json</em>
      =>
      {{array4Chunk | _: 'jellyfish': 2 | json}}
    </div>
  </li>

</ul>
<hr>

<h3>Direct-Form Pipes</h3>

<h4>Array</h4>

<ul>
  <li>
    <em>chunk {{array4Chunk | json}} by 2</em>
    =>
    {{array4Chunk | chunk: 2 | json}}
    <a href="https://lodash.com/docs#chunk" target="_docs">reference</a>
  </li>

  <li>
    <em>compact {{array4Compact | json}}</em>
    =>
    {{array4Compact | compact | json}}
    <a href="https://lodash.com/docs#compact" target="_docs">reference</a>
  </li>

  <li>
    <em>concat {{array4Concat | json}} by 2, [3], [[4]]</em>
    =>
    {{array4Concat | concat: 2: [3]: [[4]] | json}}
    <a href="https://lodash.com/docs#concat" target="_docs">reference</a>
  </li>

  <li>
    <em>difference {{array4Difference | json}} by {{otherArray4Difference | json }}</em>
    =>
    {{array4Difference | difference: otherArray4Difference | json}}
    <a href="https://lodash.com/docs#difference" target="_docs">reference</a>
  </li>

  <li>
    <em>differenceBy {{array4DifferenceBy | json}} by {{otherArray4DifferenceBy | json }}, Math.floor</em>
    =>
    {{array4DifferenceBy | differenceBy: otherArray4DifferenceBy: floorIteratee | json}}
    <a href="https://lodash.com/docs#differenceBy" target="_docs">reference</a>
  </li>

  <li>
    <em>differenceWith {{array4DifferenceWith | json}} by {{otherArray4DifferenceWith | json}}, _.isEqual</em>
    =>
    {{array4DifferenceWith | differenceWith: otherArray4DifferenceWith: isEqual | json}}
    <a href="https://lodash.com/docs#differenceWith" target="_docs">reference</a>
  </li>

  <li>
    <em>drop {{array4Drop | json}} by 2</em>
    =>
    {{array4Drop | drop: 2 | json}}
    <a href="https://lodash.com/docs#drop" target="_docs">reference</a>
  </li>

  <li>
    <em>dropRight {{array4Drop | json}} by 2</em>
    =>
    {{array4Drop | dropRight: 2 | json}}
    <a href="https://lodash.com/docs#dropRight" target="_docs">reference</a>
  </li>

  <li>
    <em>dropRightWhile {{array4DropWhile | json}} by {{func4DropWhile}}</em>
    =>
    {{array4DropWhile | dropRightWhile: func4DropWhile | json}}
    <a href="https://lodash.com/docs#dropRightWhile" target="_docs">reference</a>
  </li>

  <li>
    <em>dropWhile {{array4DropWhile | json}} by 'active'</em>
    =>
    {{array4DropWhile | dropWhile: 'active' | json}}
    <a href="https://lodash.com/docs#dropWhile" target="_docs">reference</a>
  </li>

  <li>
    <em>fill {{array4Fill | json}} by 'a'</em>
    =>
    {{array4Fill | fill: 'a' | json}}
    <a href="https://lodash.com/docs#fill" target="_docs">reference</a>
  </li>

  <li>
    <em>findIndex {{array4FindIndex | json}} by {{predicate4FindIndex | json}}</em>
    =>
    {{array4FindIndex | findIndex: predicate4FindIndex | json}}
    <a href="https://lodash.com/docs#findIndex" target="_docs">reference</a>
  </li>

  <li>
    <em>findLastIndex {{array4FindIndex | json}} by {{predicate4FindLastIndex | json}}</em>
    =>
    {{array4FindIndex | findLastIndex: predicate4FindLastIndex | json}}
    <a href="https://lodash.com/docs#findLastIndex" target="_docs">reference</a>
  </li>

  <li>
    <em>flatten {{array4Flatten | json}}</em>
    =>
    {{array4Flatten | flatten | json}}
    <a href="https://lodash.com/docs#flatten" target="_docs">reference</a>
  </li>

  <li>
    <em>flattenDeep {{array4Flatten | json}}</em>
    =>
    {{array4Flatten | flattenDeep | json}}
    <a href="https://lodash.com/docs#flattenDeep" target="_docs">reference</a>
  </li>

  <li>
    <em>flattenDepth {{array4Flatten | json}} by 2</em>
    =>
    {{array4Flatten | flattenDepth: 2 | json}}
    <a href="https://lodash.com/docs#flattenDepth" target="_docs">reference</a>
  </li>

  <li>
    <em>fromPairs {{array4FromPairs | json}}</em>
    =>
    {{array4FromPairs | fromPairs | json}}
    <a href="https://lodash.com/docs#fromPairs" target="_docs">reference</a>
  </li>

  <li>
    <em>head {{array4Head | json}}</em>
    =>
    {{array4Head | head | json}}
    <a href="https://lodash.com/docs#head" target="_docs">reference</a>
  </li>

  <li>
    <em>indexOf {{array4IndexOf | json}} by 2,  2</em>
    =>
    {{array4IndexOf | indexOf: 2: 2 | json}}
    <a href="https://lodash.com/docs#indexOf" target="_docs">reference</a>
  </li>

  <li>
    <em>initial {{array4Initial | json}}</em>
    =>
    {{array4Initial | initial | json}}
    <a href="https://lodash.com/docs#initial" target="_docs">reference</a>
  </li>

  <li>
    <em>intersection {{array4Intersection[0] | json}} by {{array4Intersection[1] | json}}</em>
    =>
    {{array4Intersection[0] | intersection: array4Intersection[1] | json}}
    <a href="https://lodash.com/docs#intersection" target="_docs">reference</a>
  </li>

  <li>
    <em>intersectionBy {{array4IntersectionBy[0] | json}} by {{array4IntersectionBy[1] | json}}, Math.floor</em>
    =>
    {{array4IntersectionBy[0] | intersectionBy: array4IntersectionBy[1]: floorIteratee | json}}
    <a href="https://lodash.com/docs#intersectionBy" target="_docs">reference</a>
  </li>

  <li>
    <em>intersectionWith {{array4IntersectionWith[0] | json}} by {{array4IntersectionWith[1] | json}}, _.isEqual</em>
    =>
    {{array4IntersectionWith[0] | intersectionWith: array4IntersectionWith[1]: isEqual | json}}
    <a href="https://lodash.com/docs#intersectionWith" target="_docs">reference</a>
  </li>

  <li>
    <em>join {{array4Join | json}} by ~</em>
    =>
    {{array4Join | join: '~' | json}}
    <a href="https://lodash.com/docs#join" target="_docs">reference</a>
  </li>

  <li>
    <em>last {{array4Last | json}}</em>
    =>
    {{array4Last | last | json}}
    <a href="https://lodash.com/docs#last" target="_docs">reference</a>
  </li>

  <li>
    <em>lastIndexOf {{array4LastIndexOf | json}} by 2, 2</em>
    =>
    {{array4LastIndexOf | lastIndexOf: 2: 2}}
    <a href="https://lodash.com/docs#lastIndexOf" target="_docs">reference</a>
  </li>

  <li>
    <em>nth {{array4Nth | json}} by -2</em>
    =>
    {{array4Nth | nth: -2}}
    <a href="https://lodash.com/docs#nth" target="_docs">reference</a>
  </li>

  <li>
    <em>pull {{array4Pull | json}} by 'a', 'c'</em>
    =>
    {{array4Pull | pull: 'a': 'c' | json}}
    <a href="https://lodash.com/docs#pull" target="_docs">reference</a>
  </li>

  <li>
    <em>pullAll {{array4Pull | json}} by ['a', 'c']</em>
    =>
    {{array4Pull | pullAll: ['a', 'c'] | json}}
    <a href="https://lodash.com/docs#pullAll" target="_docs">reference</a>
  </li>

  <li>
    <em>pullAllBy {{array4PullAllBy[0] | json}} by {{array4PullAllBy[1] | json}}, 'x'</em>
    =>
    {{array4PullAllBy[0] | pullAllBy: array4PullAllBy[1]: 'x' | json}}
    <a href="https://lodash.com/docs#pullAllBy" target="_docs">reference</a>
  </li>

  <li>
    <em>pullAllWith {{array4PullAllWith[0] | json}} by {{array4PullAllWith[1] | json}}, _.isEqual</em>
    =>
    {{array4PullAllWith[0] | pullAllWith: array4PullAllWith[1]: isEqual | json}}
    <a href="https://lodash.com/docs#pullAllWith" target="_docs">reference</a>
  </li>

  <li>
    <em>pullAt {{array4PullAt[0] | json}} by {{array4PullAt[1] | json}}</em>
    =>
    {{array4PullAt[0] | pullAt: array4PullAt[1] | json}}
    <a href="https://lodash.com/docs#pullAt" target="_docs">reference</a>
  </li>
</ul>

<h4>Collection</h4>

<ul>
  <li>
    <em>every {{array4Every | json}} by ['active', false]</em>
    =>
    {{array4Every | every: ['active', false] | json}}
    <a href="https://lodash.com/docs#every" target="_docs">reference</a>
  </li>
</ul>
